## python cache files
.ipynb*

__py*
**/__py*
__pycache__

## temporary content
temp/

## makefile
!makefile.example
makefile

# local development
**/go.local.*
**/*.ipynb

## distributives for local install
dist
**/*.egg-info
build